.e9_16 { 
	overflow:hidden;
}
.e9_16 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:2967px;
	position:absolute;
}
body{
	zoom: 0.876;
    -moz-transform: scale(2);
    -moz-transform-origin: 0 0;
	width: 1440px;
	height: 2967px;
}
.e28_631 { 
	width:1442px;
	height:306px;
	position:absolute;
	left:-2px;
	top:2661px;
}
.e9_754 { 
	background-color:rgba(38.69270816445351, 62.54835247993469, 122.1874974668026, 1);
	width:1442px;
	height:306px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_755 { 
	width:427.0000305175781px;
	height:106.5757827758789px;
	position:absolute;
	left:37px;
	top:151.56112670898438px;
}
.e9_756 { 
	transform: rotate(1.1732168703013385e-21deg);
	width:26.761810302734375px;
	height:51.544105529785156px;
	position:absolute;
	left:303.1341857910156px;
	top:47.60310363769531px;
}
.e9_757 { 
	transform: rotate(1.1580579595539172e-21deg);
	background-color:rgba(38.69270816445351, 62.54835247993469, 122.1874974668026, 1);
	width:26.761810302734375px;
	height:51.544105529785156px;
	position:absolute;
	left:0px;
	top:0px;
}
.fb{
	width:26.761810302734375px;
	height:52.889251708984375px;
}

.e9_758 { 
	transform: rotate(-1.1562991541955707e-22deg);
	width:57.150665283203125px;
	height:48.777366638183594px;
	position:absolute;
	left:217.42037963867188px;
	top:50.34595489501953px;
}
.ldin{
	width:57.150665283203125px;
	height:50.05029296875px;
}


.e9_759 { 
	transform: rotate(-1.1601501709134933e-22deg);
	width:11.7496337890625px;
	height:48.777366638183594px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_760 { 
	transform: rotate(-1.1601501709134933e-22deg);
	background-color:rgba(255, 255, 255, 1);
	width:11.7496337890625px;
	height:48.777366638183594px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_761 { 
	transform: rotate(-1.2590622587410086e-22deg);
	width:34.154266357421875px;
	height:34.741580963134766px;
	position:absolute;
	left:22.99639892578125px;
	top:13.714717864990234px;
}
.e9_762 { 
	transform: rotate(-1.2590622587410086e-22deg);
	background-color:rgba(255, 255, 255, 1);
	width:34.154266357421875px;
	height:34.741580963134766px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_763 { 
	width:59.05889892578125px;
	height:45.69704818725586px;
	position:absolute;
	left:129.61599731445312px;
	top:60.4030647277832px;
}
.e9_764 { 
	background-color:rgba(38.69270816445351, 62.54835247993469, 122.1874974668026, 1);
	width:59.05889892578125px;
	height:45.69704818725586px;
	position:absolute;
	left:0px;
	top:0px;
}
.twt{
	width:59.05889892578125px;
	height:46.8895263671875px;
}

.e9_765 { 
	transform: rotate(5.4148573293977964e-21deg);
	width:59.05889892578125px;
	height:56.22980499267578px;
	position:absolute;
	left:42.856903076171875px;
	top:50.34595489501953px;
}
.e9_766 { 
	transform: rotate(5.267149679764238e-21deg);
	width:59.05889892578125px;
	height:56.22980499267578px;
	position:absolute;
	left:0px;
	top:0px;
}
.ig{
	width:59.05889892578125px;
	height:57.697235107421875px;
}


.e9_767 { 
	transform: rotate(5.267149679764238e-21deg);
	background-color:rgba(255, 255, 255, 1);
	width:59.05888366699219px;
	height:56.22980499267578px;
	position:absolute;
	left:0.00001291883108933689px;
	top:0.000013106922779115848px;
}
.e9_768 { 
	transform: rotate(5.738291230125925e-21deg);
	width:30.327537536621094px;
	height:28.874853134155273px;
	position:absolute;
	left:14.379425048828125px;
	top:13.690596580505371px;
}
.e9_769 { 
	transform: rotate(5.738291230125925e-21deg);
	background-color:rgba(255, 255, 255, 1);
	width:30.327537536621094px;
	height:28.874853134155273px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_770 { 
	transform: rotate(5.7384112318792315e-21deg);
	width:7.0870819091796875px;
	height:6.7477545738220215px;
	position:absolute;
	left:41.761505126953125px;
	top:9.737446784973145px;
}
.e9_771 { 
	transform: rotate(5.7384112318792315e-21deg);
	background-color:rgba(255, 255, 255, 1);
	width:7.0870819091796875px;
	height:6.7477545738220215px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_772 { 
	background-color:rgba(38.69270816445351, 62.54835247993469, 122.1874974668026, 1);
	width:70.5560302734375px;
	height:62.899574279785156px;
	position:absolute;
	left:356.4440002441406px;
	top:43.031455993652344px;
}
.git{
	width:70.5560302734375px;
	height:64.541015625px;
}

.e9_773 { 
	color:rgba(255, 255, 255, 1);
	width:223.69212341308594px;
	height:37.5917854309082px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Manrope;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}
.e9_774 { 
	width:462px;
	height:97.84326171875px;
	position:absolute;
	left:47px;
	top:30.695924758911133px;
	background-image:url(images/text_1626369940537.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_384 { 
	width:1406px;
	height:2371px;
	position:absolute;
	left:33px;
	top:161px;
}
.e9_383 { 
	width:1406px;
	height:2236px;
	position:absolute;
	left:0px;
	top:135px;
}
.e9_334 { 
	width:1374px;
	height:392px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_270 { 
	background-color:rgba(64.00000378489494, 90.00000223517418, 103.0000014603138, 1);
	width:1374px;
	height:392px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_331 { 
	width:589px;
	height:392px;
	position:absolute;
	left:785px;
	top:0px;
	background-image:url(images/inexpensiveexercise_1277759983_770x533_1_650x428_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_332 { 
	color:rgba(255, 255, 255, 1);
	width:728px;
	height:154px;
	position:absolute;
	left:53px;
	top:167px;
	font-family:Rozha One;
	text-align:left;
	font-size:42.10846710205078px;
	letter-spacing:0;
}
.e9_330 { 
	color:rgba(255, 255, 255, 1);
	width:284px;
	height:102px;
	position:absolute;
	left:43px;
	top:44px;
	font-family:Rozha One;
	text-align:left;
	font-size:72px;
	letter-spacing:0;
}
.e9_377 { 
	width:1374px;
	height:392.35302734375px;
	position:absolute;
	left:0px;
	top:461px;
}
.e9_271 { 
	background-color:rgba(245.00000059604645, 241.00000083446503, 232.00000137090683, 1);
	width:1374px;
	height:392px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_366 { 
	color:rgba(0, 0, 0, 1);
	width:195px;
	height:102px;
	position:absolute;
	left:43px;
	top:56px;
	font-family:Rozha One;
	text-align:left;
	font-size:72px;
	letter-spacing:0;
}
.e9_374 { 
	width:589px;
	height:392.35302734375px;
	position:absolute;
	left:785px;
	top:0px;
	background-image:url(images/illustration_theme_with_people_listening_music_52683_26333_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_367 { 
	color:rgba(0, 0, 0, 1);
	width:615px;
	height:124px;
	position:absolute;
	left:43px;
	top:177px;
	font-family:Rozha One;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e9_375 { 
	background-color:rgba(245.00000059604645, 241.00000083446503, 232.00000137090683, 1);
	width:123px;
	height:17px;
	position:absolute;
	left:1015px;
	top:360px;
}
.e9_381 { 
	width:1406px;
	height:599px;
	position:absolute;
	left:0px;
	top:821px;
}
.e9_272 { 
	background-color:rgba(245.43749392032623, 210.66718608140945, 210.66718608140945, 1);
	width:1374px;
	height:392px;
	position:absolute;
	left:0px;
	top:101px;
}
.e9_368 { 
	color:rgba(0, 0, 0, 1);
	width:644px;
	height:189px;
	position:absolute;
	left:43px;
	top:287px;
	font-family:Rozha One;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e9_369 { 
	color:rgba(0, 0, 0, 1);
	width:696px;
	height:102px;
	position:absolute;
	left:43px;
	top:166px;
	font-family:Rozha One;
	text-align:left;
	font-size:72px;
	letter-spacing:0;
}
.e9_382 { 
	width:621px;
	height:599px;
	position:absolute;
	left:785px;
	top:0px;
	background-image:url(images/nick_slater_on_twitter_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_378 { 
	width:1374px;
	height:392px;
	position:absolute;
	left:0px;
	top:1383px;
}
.e9_273 { 
	background-color:rgba(126.00000008940697, 131.00000739097595, 248.0000004172325, 1);
	width:1374px;
	height:392px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_370 { 
	color:rgba(255, 255, 255, 1);
	width:644px;
	height:189px;
	position:absolute;
	left:38px;
	top:135px;
	font-family:Rozha One;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e9_376 { 
	width:632.0907592773438px;
	height:392px;
	position:absolute;
	left:741.4091796875px;
	top:0px;
	background-image:url(images/screenshot_2021_07_16_152049_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_371 { 
	color:rgba(255, 255, 255, 1);
	width:684px;
	height:102px;
	position:absolute;
	left:43px;
	top:33px;
	font-family:Rozha One;
	text-align:left;
	font-size:72px;
	letter-spacing:0;
}
.e9_380 { 
	width:1374px;
	height:392px;
	position:absolute;
	left:0px;
	top:1844px;
}
.e9_274 { 
	background-color:rgba(240.00000089406967, 232.00000137090683, 219.0000021457672, 1);
	width:1374px;
	height:392px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_379 { 
	width:554px;
	height:392px;
	position:absolute;
	left:820px;
	top:0px;
	background-image:url(images/cooking_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_372 { 
	color:rgba(0, 0, 0, 1);
	width:649px;
	height:211px;
	position:absolute;
	left:38px;
	top:157px;
	font-family:Rozha One;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e9_373 { 
	color:rgba(0, 0, 0, 1);
	width:276px;
	height:102px;
	position:absolute;
	left:43px;
	top:33px;
	font-family:Rozha One;
	text-align:left;
	font-size:72px;
	letter-spacing:0;
}
.e9_276 { 
	color:rgba(0, 0, 0, 1);
	width:1023px;
	height:74px;
	position:absolute;
	left:351px;
	top:0px;
	font-family:Rozha One;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e88_283 { 
	width:1440px;
	height:105px;
	position:absolute;
	left:0px;
	top:0px;
}
.e14_169 { 
	background-color:rgba(24.000000469386578, 52.000000700354576, 122.00000032782555, 1);
	width:1440px;
	height:105px;
	position:absolute;
	left:0px;
	top:0px;
}
.e14_170 { 
	width:77px;
	height:60px;
	position:absolute;
	left:1263px;
	top:24px;
}
.e14_171 { 
	width:77px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.e14_172 { 
	color:rgba(251.0536229610443, 251.92183077335358, 255, 1);
	width:48px;
	height:21px;
	position:absolute;
	left:15px;
	top:20px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e14_173 { 
	width:88px;
	height:60px;
	position:absolute;
	left:1161px;
	top:22px;
}
.e14_174 { 
	width:88px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.e14_175 { 
	width:77px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.e14_176 { 
	color:rgba(251.0536229610443, 251.92183077335358, 255, 1);
	width:81px;
	height:21px;
	position:absolute;
	left:7px;
	top:22px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e14_177 { 
	width:77px;
	height:60px;
	position:absolute;
	left:1073px;
	top:22px;
}
.e14_178 { 
	width:77px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.e14_179 { 
	color:rgba(251.0536229610443, 251.92183077335358, 255, 1);
	width:49px;
	height:21px;
	position:absolute;
	left:14px;
	top:20px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e14_183 { 
	width:391px;
	height:83px;
	position:absolute;
	left:14px;
	top:11px;
	background-image:url(images/text_1626369940537.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e88_284 { 
	width:85.2547607421875px;
	height:75px;
	position:absolute;
	left:1344px;
	top:15px;
}
.e88_285 { 
	width:76.9464111328125px;
	height:60px;
	position:absolute;
	left:8.308349609375px;
	top:3px;
}
.e88_286 { 
	color:rgba(251.0536229610443, 251.92183077335358, 255, 1);
	width:82px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
