a{
	text-decoration: none;
	color: #000;
}
.e33_290 { 
	overflow:hidden;
}
body{
	zoom: 0.876;
    -moz-transform: scale(2);
    -moz-transform-origin: 0 0;
}
.e33_452 { 
	overflow:hidden;
}
.e33_452 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1848px;
	position:absolute;
}
.e28_632 { 
	width:1442px;
	height:306px;
	position:absolute;
	left:-2px;
	top:1542px;
}
.e33_454 { 
	background-color:rgba(38.69270816445351, 62.54835247993469, 122.1874974668026, 1);
	width:1442px;
	height:306px;
	position:absolute;
	left:0px;
	top:0px;
}
.e33_455 { 
	width:427.0000305175781px;
	height:117.27896118164062px;
	position:absolute;
	left:37px;
	top:151.56112670898438px;
}
.e33_456 { 
	transform: rotate(1.203834266794642e-21deg);
	width:26.761810302734375px;
	height:52.889251708984375px;
	position:absolute;
	left:303.1341857910156px;
	top:56.767303466796875px;
}
.e33_457 { 
	width:26.761810302734375px;
	height:52.889251708984375px;
	background-repeat: no-repeat;
}
.fb{
	width:26.761810302734375px;
	height:52.889251708984375px;
}

.e33_458 { 
	transform: rotate(-1.1864747363240648e-22deg);
	width:57.150665283203125px;
	height:50.05029296875px;
	position:absolute;
	left:217.42037963867188px;
	top:59.58172607421875px;
}
.ldin{
	width:57.150665283203125px;
	height:50.05029296875px;
}

.e33_462 { 
	transform: rotate(-1.3228827745350142e-22deg);
	background-color:rgba(255, 255, 255, 1);
	width:34.154266357421875px;
	height:35.648223876953125px;
	position:absolute;
	left:0px;
	top:0px;
}
.e33_463 { 
	width:59.05889892578125px;
	height:46.8895263671875px;
	position:absolute;
	left:129.61599731445312px;
	top:69.90133666992188px;
}
.e33_464 { 
	background-color:rgba(38.69270816445351, 62.54835247993469, 122.1874974668026, 1);
	width:59.05889892578125px;
	height:46.8895263671875px;
	position:absolute;
	left:0px;
	top:0px;
}
.twt{
	width:59.05889892578125px;
	height:46.8895263671875px;
}

.e33_465 { 
	transform: rotate(5.556168862980926e-21deg);
	width:59.05889892578125px;
	height:57.697235107421875px;
	position:absolute;
	left:42.856903076171875px;
	top:59.58172607421875px;
}
.e33_466 { 
	transform: rotate(5.408461213347368e-21deg);
	width:59.05889892578125px;
	height:57.697235107421875px;
	position:absolute;
	left:0px;
	top:0px;
}
.ig{
	width:59.05889892578125px;
	height:57.697235107421875px;
}

.e33_470 { 
	transform: rotate(6.033146182222941e-21deg);
	width:7.0870819091796875px;
	height:6.923828125px;
	position:absolute;
	left:41.761505126953125px;
	top:9.9915771484375px;
}
.e33_471 { 
	transform: rotate(6.033146182222941e-21deg);
	background-color:rgba(255, 255, 255, 1);
	width:7.0870819091796875px;
	height:6.923828125px;
	position:absolute;
	left:0px;
	top:0px;
}
.e33_472 { 
	background-color:rgba(38.69270816445351, 62.54835247993469, 122.1874974668026, 1);
	width:70.5560302734375px;
	height:64.541015625px;
	position:absolute;
	left:356.4440002441406px;
	top:52.07635498046875px;
}
.git{
	width:70.5560302734375px;
	height:64.541015625px;
}
.e33_473 { 
	color:rgba(255, 255, 255, 1);
	width:223.69212341308594px;
	height:37.5917854309082px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Manrope;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}
.e33_474 { 
	width:462px;
	height:97.84326171875px;
	position:absolute;
	left:47px;
	top:30.695924758911133px;
	background-image:url(images/text_1626369940537.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e155_235 { 
	width:100px;
	height:100px;
	position:absolute;
	left:90px;
	top:148px;
}
.e33_475 { 
	width:1440px;
	height:852px;
	position:absolute;
	left:-2px;
	top:694px;
}
.e32_911 { 
	background-color:rgba(229.00000154972076, 235.0000011920929, 255, 1);
	width:1440px;
	height:852px;
	position:absolute;
	left:0px;
	top:0px;
}
.e33_477 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:207px;
	height:44px;
	position:absolute;
	left:559px;
	top:525px;
	font-family:Heebo;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e33_478 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:670px;
	height:124px;
	position:absolute;
	left:555px;
	top:598px;
	font-family:Heebo;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e33_480 { 
	transform: rotate(0.000005008956130975318deg);
	width:1200px;
	height:0px;
	position:absolute;
	left:119px;
	top:460px;
}

.e33_290 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1848px;
	position:absolute;
}
.e28_636 { 
	width:1442px;
	height:306px;
	position:absolute;
	left:-2px;
	top:1542px;
}
.e33_292 { 
	background-color:rgba(38.69270816445351, 62.54835247993469, 122.1874974668026, 1);
	width:1442px;
	height:306px;
	position:absolute;
	left:0px;
	top:0px;
}
.e33_293 { 
	width:427.0000305175781px;
	height:117.27896118164062px;
	position:absolute;
	left:37px;
	top:151.56112670898438px;
}
.e33_294 { 
	transform: rotate(1.203834266794642e-21deg);
	width:26.761810302734375px;
	height:52.889251708984375px;
	position:absolute;
	left:303.1341857910156px;
	top:56.767303466796875px;
}
.e33_295 { 
	transform: rotate(1.1886753560472207e-21deg);
	background-color:rgba(255, 255, 255, 1);
	width:26.761810302734375px;
	height:52.889251708984375px;
	position:absolute;
	left:0px;
	top:0px;
}
.e33_296 { 
	transform: rotate(-1.1864747363240648e-22deg);
	width:57.150665283203125px;
	height:50.05029296875px;
	position:absolute;
	left:217.42037963867188px;
	top:59.58172607421875px;
}
.e33_297 { 
	transform: rotate(-1.190325753041987e-22deg);
	width:11.7496337890625px;
	height:50.05029296875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e33_298 { 
	transform: rotate(-1.190325753041987e-22deg);
	background-color:rgba(255, 255, 255, 1);
	width:11.7496337890625px;
	height:50.05029296875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e33_299 { 
	transform: rotate(-1.3228827745350142e-22deg);
	width:34.154266357421875px;
	height:35.648223876953125px;
	position:absolute;
	left:22.99639892578125px;
	top:14.0726318359375px;
}
.e33_300 { 
	transform: rotate(-1.3228827745350142e-22deg);
	background-color:rgba(255, 255, 255, 1);
	width:34.154266357421875px;
	height:35.648223876953125px;
	position:absolute;
	left:0px;
	top:0px;
}
.e33_301 { 
	width:59.05889892578125px;
	height:46.8895263671875px;
	position:absolute;
	left:129.61599731445312px;
	top:69.90133666992188px;
}
.e33_302 { 
	background-color:rgba(255, 255, 255, 1);
	width:59.05889892578125px;
	height:46.8895263671875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e33_303 { 
	transform: rotate(5.556168862980926e-21deg);
	width:59.05889892578125px;
	height:57.697235107421875px;
	position:absolute;
	left:42.856903076171875px;
	top:59.58172607421875px;
}
.e33_304 { 
	transform: rotate(5.408461213347368e-21deg);
	width:59.05889892578125px;
	height:57.697235107421875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e33_305 { 
	transform: rotate(5.408461213347368e-21deg);
	background-color:rgba(255, 255, 255, 1);
	width:59.05888366699219px;
	height:57.69720458984375px;
	position:absolute;
	left:0.00001291883108933689px;
	top:0.000013106922779115848px;
}
.e33_306 { 
	transform: rotate(6.0330401467753875e-21deg);
	width:30.327537536621094px;
	height:29.628387451171875px;
	position:absolute;
	left:14.379425048828125px;
	top:14.047882080078125px;
}
.e33_307 { 
	transform: rotate(6.0330401467753875e-21deg);
	background-color:rgba(255, 255, 255, 1);
	width:30.327537536621094px;
	height:29.628387451171875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e33_308 { 
	transform: rotate(6.033146182222941e-21deg);
	width:7.0870819091796875px;
	height:6.923828125px;
	position:absolute;
	left:41.761505126953125px;
	top:9.9915771484375px;
}
.e33_309 { 
	transform: rotate(6.033146182222941e-21deg);
	background-color:rgba(255, 255, 255, 1);
	width:7.0870819091796875px;
	height:6.923828125px;
	position:absolute;
	left:0px;
	top:0px;
}
.e33_310 { 
	background-color:rgba(255, 255, 255, 1);
	width:70.5560302734375px;
	height:64.541015625px;
	position:absolute;
	left:356.4440002441406px;
	top:52.07635498046875px;
}
.e33_311 { 
	color:rgba(255, 255, 255, 1);
	width:223.69212341308594px;
	height:37.5917854309082px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Manrope;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}
.e33_312 { 
	width:462px;
	height:97.84326171875px;
	position:absolute;
	left:47px;
	top:30.695924758911133px;
	background-image:url(images/text_1626369940537.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e33_313 { 
	width:1440px;
	height:855px;
	position:absolute;
	left:1px;
	top:694px;
}
.e33_314 { 
	background-color:rgba(229.00000154972076, 235.0000011920929, 255, 1);
	width:1440px;
	height:855px;
	position:absolute;
	left:0px;
	top:0px;
}
.e33_315 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:416px;
	height:44px;
	position:absolute;
	left:560px;
	top:521px;
	font-family:Heebo;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e33_316 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:670px;
	height:124px;
	position:absolute;
	left:556px;
	top:594px;
	font-family:Heebo;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e33_317 { 
	width:370px;
	height:202px;
	position:absolute;
	left:120px;
	top:517px;
	background-image:url(images/thumbnail_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e33_318 { 
	transform: rotate(0.000005008956130975318deg);
	width:1200px;
	height:0px;
	position:absolute;
	left:120px;
	top:456px;
}
.e33_318 { 
	border:1px solid rgba(224.000001847744, 224.000001847744, 224.000001847744, 1);
}
.e33_319 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:685px;
	height:44px;
	position:absolute;
	left:560px;
	top:188px;
	font-family:Heebo;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e33_320 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:673px;
	height:112px;
	position:absolute;
	left:566px;
	top:263px;
	font-family:Heebo;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e33_322 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:282px;
	height:60px;
	position:absolute;
	left:125px;
	top:57px;
	font-family:Heebo;
	text-align:left;
	font-size:44px;
	letter-spacing:0;
	line-height:px;
}
.e33_508 { 
	width:386px;
	height:222px;
	position:absolute;
	left:120px;
	top:173px;
	background-image:url(images/image_12.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e33_323 { 
	width:1440px;
	height:577px;
	position:absolute;
	left:1px;
	top:117px;
}
.e33_324 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:577px;
	position:absolute;
	left:0px;
	top:0px;
}
.e33_326 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:571px;
	height:307px;
	position:absolute;
	left:118px;
	top:188px;
	font-family:Heebo;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e33_327 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:121px;
	height:60px;
	position:absolute;
	left:118px;
	top:78px;
	font-family:Heebo;
	text-align:left;
	font-size:44px;
	letter-spacing:0;
	line-height:px;
}
.e32_908 { 
	width:603px;
	height:389px;
	position:absolute;
	left:732px;
	top:89px;
	background-image:url(images/music_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e58_280 { 
	width:87px;
	height:87px;
	position:absolute;
	left:14px;
	top:21px;
	/* background-image:url(images/858_8583811_backbutton_play_button_icon_transparent_1.png); */
	background-repeat:no-repeat;
	background-size:cover;
}
.e33_328 { 
	width:1439px;
	height:105px;
	position:absolute;
	left:1px;
	top:0px;
}
.ei33_328_4_3 { 
	background-color:rgba(38.69270816445351, 62.54835247993469, 122.1874974668026, 1);
	width:1440px;
	height:117.11695861816406px;
	position:absolute;
	left:-1px;
	top:0px;
}
.ei33_328_12_2003 { 
	width:76.9464111328125px;
	height:60px;
	position:absolute;
	left:1205.19384765625px;
	top:24px;
}
.ei33_328_12_2004 { 
	width:76.9464111328125px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei33_328_12_2005 { 
	color:rgba(251.0536229610443, 251.92183077335358, 255, 1);
	width:47.966552734375px;
	height:21px;
	position:absolute;
	left:14.989501953125px;
	top:20px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.ei33_328_1_41 { 
	width:87.9390869140625px;
	height:60px;
	position:absolute;
	left:1113.2547607421875px;
	top:22px;
}
.ei33_328_1_37 { 
	width:87.9390869140625px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei33_328_1_38 { 
	width:76.9466552734375px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei33_328_1_39 { 
	color:rgba(251.0536229610443, 251.92183077335358, 255, 1);
	width:80.94384765625px;
	height:21px;
	position:absolute;
	left:6.9952392578125px;
	top:22px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.ei33_328_1_36 { 
	width:96.2547607421875px;
	height:60px;
	position:absolute;
	left:1015px;
	top:24px;
}
.ei33_328_1_32 { 
	width:76.9464111328125px;
	height:60px;
	position:absolute;
	left:19.308349609375px;
	top:0px;
}
.ei33_328_1_33 { 
	color:rgba(251.0536229610443, 251.92183077335358, 255, 1);
	width:82px;
	height:21px;
	position:absolute;
	left:0px;
	top:20px;
	font-family:Roboto;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.ei33_328_4_7 { 
	width:390.7284851074219px;
	height:83px;
	position:absolute;
	left:13.990278244018555px;
	top:11px;
	background-image:url(images/anxiet_ease.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e82_273 { 
	width:89px;
	height:75px;
	position:absolute;
	left:1318px;
	top:17px;
}
.e82_274 { 
	width:76.9464111328125px;
	height:60px;
	position:absolute;
	left:0px;
	top:8px;
}
.e28_629 { 
	color:rgba(251.0536229610443, 251.92183077335358, 255, 1);
	width:82px;
	height:75px;
	position:absolute;
	left:7px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}

/* 
AAAAAAAAAAAAAAAAAA */

body,td,th,p{
	color: #333;
  font: 16px/1.6 Arial, Helvetica, sans-serif;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
h2 {
  display: inline-block;
}
#review-add-btn {
  padding: 0;
  font-size: 1.6em;
  cursor: pointer;
}
/* ====================== Review Form ====================== */
#modal {
  /* position: absolute;
  left: 10vh;
  top: 10vh; */
  /* fix exactly center: https://css-tricks.com/considerations-styling-modal/ */
  /* begin css tricks */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* end css tricks */
  /* z-index: -10; */
  z-index: 3;
  display: flex;
  flex-direction: column;
  /* width: 80vw; */
  /* height: 80vh; */
  border: 1px solid #666;
  border-radius: 10px;
  opacity: 0;
  transition: all .3s;
  overflow: hidden;
  background-color: #eee;
  /* visibility: hidden; */
  display: none;
}
#modal.show {
  /* visibility: visible;   */
  opacity: 1;
  /* z-index: 10; */
  display: flex;
}
.modal-overlay {
  width: 100%;
  height: 100%;
  z-index: 2; /* places the modalOverlay between the main page and the modal dialog */
  background-color: #000;
  opacity: 0;
  transition: all .3s;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  margin: 0;
  padding: 0;
}
.modal-overlay.show {
  display: block;
  opacity: 0.5;  
}
#modal .close-btn {
  align-self: flex-end;
  font-size: 1.4em;
  margin: 8px 8px 0;
  padding: 0 8px;
  cursor: pointer;
}
form {
  max-width: 900px;
  padding: 0 20px 20px 20px;
}
/* 
input,
label {
  display: block;
  width: 100%;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
} */

input,
/* input:not(input[type='radio']), */
/* input:not(type='radio'), */
select, .rate, textarea, button {
  background: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  box-shadow: inset 0 1px 1px #e1e1e1;
  font-size: 16px;
  padding: 8px;
}
input[type="radio"] {
  box-shadow: none;
}
button {
  min-width: 48px;
  min-height: 48px;
}
button:hover {
  border: 1px solid #ccc;
  background-color: #fff;
}
button#review-add-btn, 
button.close-btn, 
button#submit-review-btn {
  min-height: 40px;
}
button#submit-review-btn {
  font-weight: bold;
  cursor: pointer;
  padding: 0 16px;
}

.fieldset {
  margin-top: 20px;
}
.right {
  align-self: flex-end;
}
#review-form-container {
  width: 100%;
  /* background-color: #eee; */
  padding: 0 20px 26px;
  color: #333;
  overflow-y: auto;
}
#review-form-container h2 {
  margin: 0 0 0 6px;
}
#review-form {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}
#review-form label, #review-form input {
  display: block;
  /* width: 100%; */
}
#review-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

#review-form .rate label, #review-form .rate input,
#review-form .rate1 label, #review-form .rate1 input {
  display: inline-block;
}
/* Modified from: https://codepen.io/tammykimkim/pen/yegZRw */
.rate {
  /* float: left; */
  /* display: inline-block; */
  height: 36px;
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: flex-end;
}
#review-form .rate > label {
  margin-bottom: 0;
  margin-top: -5px;
  height: 30px;
}
.rate:not(:checked) > input {
  /* position: absolute; */
  top: -9999px;
  margin-left: -24px;
  width: 20px;
  padding-right: 14px;
  z-index: -10;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
/* #star1:focus{

} */
.rate2 {
  float: none;
}
.rate:not(:checked) > label::before {
  content: '★ ';
  position: relative;
  top: -10px;
  left: 2px;
}
.rate > input:checked ~ label {
  color: #ffc700;
  /* outline: -webkit-focus-ring-color auto 5px; */
}
.rate > input:checked:focus + label, .rate > input:focus + label {
  outline: -webkit-focus-ring-color auto 5px;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
  /* outline: -webkit-focus-ring-color auto 5px; */
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
#submit-review {
  align-self: flex-end;
}

/* aaaaaaaaaaaaaaaaaaaaaaa */
